body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fcefb4;
    color: black;
    text-align: left;
    padding: 20px;
    margin: -20px -20px 20px -20px; /* 헤더에만 여백을 없애고 상단 좌우 제거 */
}

.container {
    padding: 20px;
}

button {
    padding: 10px 15px;
    background-color: rgb(255, 151, 0);
    color: white;
    border: 2px solid #FF8C00;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #e07b00;
}

.nav-back {
    margin-bottom: 10px; /* 타이틀과의 간격 */
}

.back-link {
    font-size: 14px;
    color: blue;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
    color: #e07b00;
}
